<div class="todo">
    <% groupedTasks.forEach(machine => { %>
        <div class="machine-name">
            <h3><a href="machines/<%= machine.tasks[0].machine.id%>"><%=  machine.tasks[0].machine.name %></a> </h3> 
        </div>
        <%- include('tasksEdit.ejs', {tasks:machine.tasks })%>
    <% }) %>
</div>