<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Todo</a>
        <ul>
            <li ><a href="/users">Users</a></li>
            <li ><a href="/users/new">Add User</a></li>
            <li ><a href="/machines">Mashinen</a></li>
            <li ><a href="/machines/new">Add Maschine</a></li>
            <li ><a href="/">Tasks</a></li>
            <li ><a href="/new">Add Task</a></li>
        </ul>
    </nav>
</header>