/* @import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/bootstrap.min.css';
@import 'shared/item.css';
@import 'shared/todo.css'; */

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css');


:root{
    font-family: 'Candal', sans-serif;
    color: var(--color-text-light);
}


body{
    /* background: linear-gradient(to right,var(--color-background-dark), var(--color-background-light)); */
    background: #e27442;
}

.edit {
    color : rgb(143, 233, 58);
    margin-right: 10px;
    cursor:pointer;
    text-decoration: none;
}
.remove {
    color : rgb(243, 96, 96);
    margin-right: 5px;
    cursor:pointer;
    text-decoration: none;
}

.task-done{
    text-decoration: line-through;
}

.btn-icon{
max-height: 32px;
}