<h2 class="page-header">Edit Maschine</h2>
<form action="/todolists/<%= todolist.id %>?_method=PUT" method="post">
    <%- include('_form_fields')  %> 
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/todolists/<%= todolist.id %>">Cancel</a>
        <button class="btn btn-primary" type="submit">Edit</button>
    </div>
</form>