<h2 class="page-header">Search Tasks</h2>
<div class="todo-list-item">
    <form action="/" method="GET">
        <%- include('../partials/tasksSearch.ejs')%>
        <div class="form-row form-row-end">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>
<br>
<%- include('../partials/groupedTasks.ejs')%>
